body {
    font-family: arial, verdana;
    background-color: #000000;
    color: #FFFFFF;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
}
 h1 {
    padding: 15px;
    font-size: 42px;

 }
 h2 {
    
 }